*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background: url(../../image/background.png) no-repeat;
    background-size: cover;
}
img{
    vertical-align: middle;
}
#video_monitoring{
    width: 100%;
    height: 100%;
}
/*视频左边*/
.video_left,#fullScreen_video{
    width: 99.9%;
    height: 99.5%;
    position: absolute;
    left: 0;
}
.video_top,.video_bottom{
    height: 50%;
    width: 100%;
}
.video_top{

}
.video_box{
    background: #111;
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
}
.video_head,.full_video_head{
    height: 50px;
    background: rgba(0,0,0,0);
    color: #3366cc;
    font-weight: 600;
    display: flex;
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 10;
}
.full_video_head{
    position: absolute;
    top: 56px;
    left: 70px;
}
.video_head img,.videoName,.videoTime{
    margin: auto 0;
    margin-left: 10px;
}
.video{
    height: 100%;
    width: 100%;
    position: relative;
}
.video video{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.full_screen{
    height: 32px;
    width: 32px;
    position: absolute;
    bottom: 20px;
    right: 2px;
    cursor: pointer;
    display: none;
    z-index: 10;
}
.full_screen2{
    position: absolute;
    bottom: 50px;
    right: 12px;
}
.full_screen img{
    height: 32px;
    width: 32px;
}
.video:hover .full_screen{
    display: block;
}
.full_video_box:hover .full_screen{
    display: block;
}
/*全屏*/
.full_video_box{
    height: 100%;
    width: 100%;
}
.full_video_head img ,.full_videoName,.full_videoTime{
    margin: auto 0;
    margin-left: 10px;
}
.full_video,.full_video video{
    height: 100%;
    width: 100%;
}


/*右边*/
.video_right{
    width:19%;
    height:100%;
    position: absolute;
    right: 0;
    display: none;
}
.video_right>P{
    text-align: center;
    background:#bbe070;
    height: 48px;
    line-height: 48px;
    font-weight: bold;

}
/*右边中间部分*/
.video_right_min>ul li{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #bbe070;
    background: #fff;
    padding-left: 10px;
}
.video_right_min>ul{
    height: 792px;
    overflow: auto;
}
.video_right_img{
    float: right;
    margin-right: 15px;
}

.video_right_min>ul>li>img{
    display: none;
}
.video_right_min>ul>li>img.active_img{
    display: block;
}
/*点击激活选项状态*/
.active{
    color: #98b1e4;
}
/*右边底部部分*/
.video_right_bot{
    text-align: center;
    background: #FFFFFF;
}
.video_right_min>ul>li>span,.video_right_bot:hover{
    cursor:pointer;
}


